{% extends "pizzas/base.html" %}

{% block content %}

{% load static %}

<style>
    body{
        background-image: url(https://cdn.create.vista.com/api/media/small/155504264/stock-photo-sliced-italian-pizza-with-spices);background-size: 100%
    }
</style>

<p style="font-family:Georgia; color:whitesmoke; font-size: 40px;">Sheridan's Slice Shop</p>

<p style="font-family:Georgia; color:whitesmoke; font-size: 20px;">Fresh ingredients, reasonable prices,<br>great pizza.</p>



</body>

{% endblock content %}