{% extends "pizzas/base.html" %}

{% block content %}
<p>
    {% load static %} 
    <img src="{{ pizza.image.url }}">
</p>

<p> Pizza: {{ pizza }} </p>

<ul>
    {% for t in toppings %}

    <li> {{ t.topping_name }} </li>

    {% empty %}
    <li> No toppings for this pizza have been added yet.</li>
    {% endfor %}

</ul>


<ul>
    {% for c in comment %}
        {{c.text}}
    {% empty %}
    <p>Thre are no comments for this pizza.</p>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a>
</p>


{% endblock content %}